/* CSS untuk elemen yang muncul dan tersembunyi */

/* Tampilkan navbar di tampilan desktop */
.navbar {
    display: block;
}

/* Untuk tampilan mobile, sembunyikan navbar secara default */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Sembunyikan navbar di tampilan mobile */
    }

    /* Tampilkan navbar saat menu burger diaktifkan */
    .navbar.navbar-mobile {
        display: block;
    }
}

/* Tampilkan navbar saat kelas navbar-mobile aktif */
.navbar.navbar-mobile {
    display: block;
}

/* Tampilkan ikon burger secara default */
.mobile-nav-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
}

/* Sembunyikan ikon close secara default */
.mobile-nav-close {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Saat menu dalam mode mobile */
@media (max-width: 768px) {
    .navbar.navbar-mobile ~ .mobile-nav-toggle {
        display: none; /* Sembunyikan ikon burger saat menu terbuka */
    }

    .navbar.navbar-mobile ~ .mobile-nav-close {
        display: block; /* Tampilkan ikon close saat menu terbuka */
    }
}

