* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya Umum untuk Body dan Link */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: #444444;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #FF4C29;
    text-decoration: none;
}

a:hover {
    color: #3b8af2;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Logo Image */
.logo img {
    height: 60px;
    width: auto;
}

/* Logo Text */
.logo-text {
    line-height: 1;
}

.main-title {
    font-size: 25px;
    font-weight: bold;
    color: #222222;
}

.sub-title {
    font-size: 15px;
    color: gray;
}

/* Navbar */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    font-weight: bold;
    color: #222222;
    font-size: 21px;
}

.navbar a.active,
.navbar a:hover {
    color: #FF4C29;
    text-decoration: underline;
}

/* Vertical Line */
.vertical-line {
    width: 3px;
    height: 60px;
    background-color: #222;
    margin-left: 3%;
}

/* Style for the mobile navbar when active */
.navbar.navbar-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 60px 20px;
    overflow-y: auto;
    z-index: 999;
    transition: all 0.3s ease;
}

/* Menu Links */
.navbar-mobile a {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    color: #222;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-mobile a:hover {
    color: #FF4C29; /* Warna ketika link di-hover */
}

.navbar-mobile a.active {
    color: #FF4C29; /* Warna link aktif */
    font-weight: bold;
    text-decoration: underline;
}

/* Close Icon for Mobile Navbar */
.mobile-nav-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #222;
    cursor: pointer;
}

/* Show Mobile Navbar Toggle */
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block; /* Tampilkan tombol burger di layar kecil */
    }

    /* Hide desktop navbar */
    .navbar ul {
        display: none;
    }

    /* Tampilkan tombol burger saat menu mobile aktif */
    .navbar.navbar-mobile ul {
        display: flex;
    }
}
