body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background: linear-gradient(to top, rgba(207, 207, 207, 0), #696969);
  padding: 15px 50px;
  display: flex;
  align-items: center;
  color: black;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  justify-content: space-between;
}

.logo:first-of-type {
  width: 35px;
  height: 50px;
  margin-right: 20px;
}

.logo:nth-of-type(2) {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.text-container {
  text-align: center;
  margin-right: 20px;
}

.text-container h1 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.text-container p {
  margin: 3px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: #8a8a8a;
  font-family: "Roboto", sans-serif;
}

.separator {
  height: 50px;
  width: 2px;
  background-color: black;
}

.menu {
  display: flex;
  gap: 50px;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 5px; /* Tambahkan padding bawah agar garis bawah punya ruang */
}

.menu a:hover {
  color: white; /* Warna putih saat hover */
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 3px; /* Kurangi nilai padding-bottom untuk mengurangi jarak */
}

.menu a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px; /* Kurangi nilai ini untuk mengatur jarak garis lebih dekat */
  height: 2px;
  background-color: black; /* Warna garis bawah */
}

/* Menghapus efek hover pada link yang aktif */
.menu a.active:hover {
  color: black;
  cursor: default;
}
